.credentials {
  position: relative;
  grid-area: credentials;
}

.image__presentation__credentials {
  position: absolute;
  left: 80px;
  top: 3px;
  width: 112px;
}

@media screen and (max-width: 640px) {
  .image__presentation__credentials {
    left: 123px;
  }
}
