body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.main__container {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  row-gap: 30px;
  column-gap: 35px;
  grid-template-areas:
    "presentation presentation credentials credentials webpro webpro"
    "tools tools tools tools gamepro gamepro "
    "blog blog blog profiles profiles profiles";
  grid-template-rows: 24% 24% 24%;
  grid-template-columns: 9% 9% 9% 9% 9% 9%;
}
